  	<!-- Header -->
	<%= render 'welcome/header' %>

	<div class="panel panel-success">
	      <div class="panel-heading">
	      <h1>Show</h1>
	      </div>
	      <div class="panel-body">
			<div class="panel panel-primary">
			      <div class="panel-heading">
			      	<h2><%= @article.title %></h2>
			      </div>
			      <div class="panel-body">
			      	<%= @article.text %>
			      	<br>
			      	<%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-warning' %>
			      	<%= link_to 'Back', articles_path, class: 'btn btn-success' %>
			      </div>

			      <div class="panel panel-info">
			            <div class="panel-heading">
			            	<h3>Comments</h3>
			            </div>
			            <div class="panel-body">
			            	<%= render @article.comments %>
			            </div>
			      </div>
			      <div class="panel panel-default">
			        <div class="panel-body">
			        	<h2>Add a comment:</h2>
			        	<%= render 'comments/form' %>
			        </div>
			      </div>
			      <%= link_to 'Back', articles_path, class: 'btn btn-success' %>

			</div>	      	
	      </div>
	</div>

 
 
|
